<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>Happy Nat .com</title>

    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/text.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Happy Nat!</h1>

      <div>
        <a href="http://www.flickr.com/photos/icco/6332322678/" title="Pumpkin coffee cake! by Nat W, on Flickr"><img src="http://farm7.staticflickr.com/6044/6332322678_c4c8b59c82.jpg" width="500" height="375" alt="Pumpkin coffee cake!"></a>
      </div>

      <div>
        <a href='/auth/twitter'>Log in with Twitter.</a>
      </div>

      <% if session["username"] %>
        <!--
        <form action="/" method="post">
          <input class="reason" type="text" name="text" maxlength="255" />
          <input class="submit" type="image" src="images/submit.png" alt="Submit" />
          <input type="hidden" name="user" value="<%= session["username"] %>" />
        </form>
        -->
      <% end %>
      <!--
      <ul>
        <% entries.each do |entry| %>
          <li>
            <span class="reason"><%= entry.text %></span> -
            <span class="when"><a href="/view/<%= entry.id %>"><%= entry.create_date.humanize %></a></span>
            <span class="by">via <a href="http://twitter.com/<%= entry.username %>">@<%= entry.username %></a></span>
          </li>
        <% end %>
      </ul>
      -->
    </div> <!-- end .container -->
  </body>
</html>
