<ul>
  <% entries.each do |entry| %>
    <li>
    <span class="reason"><%= entry.text %></span> -
    <span class="when"><a href="/view/<%= entry.id %>"><time datetime="<%= entry.create_date.strftime("%FT%T%z") %>"><%= entry.create_date.humanize %></time></a></span>
    <span class="by">via <a href="http://twitter.com/<%= entry.username %>">@<%= entry.username %></a></span>
    </li>
  <% end %>
</ul>
