<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>Happy Nat</title>

    <%= stylesheet_link_tag :rest %>
    <%= stylesheet_link_tag :text %>
    <%= stylesheet_link_tag :style %>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "jquery.masonry.min" %>
  </head>
  <body>
    <div class="container">
      <h1>Happy Nat.</h1>

      <%= yield %>
    </div> <!-- end .container -->
  </body>
</html>
